#img-bg{
  background: url(../../assets/imgs/img-02.gif);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-form{
  background-color: #e6b82f;
}
.font-bold{
  font-weight: bolder;
}
